In [4]:
import pandas as pd
import numpy as np

In [5]:
ds = pd.read_csv('Heart.csv')
ds.head(10)

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
5,6,56,1,nontypical,120,236,0,0,178,0,0.8,1,0.0,normal,No
6,7,62,0,asymptomatic,140,268,0,2,160,0,3.6,3,2.0,normal,Yes
7,8,57,0,asymptomatic,120,354,0,0,163,1,0.6,1,0.0,normal,No
8,9,63,1,asymptomatic,130,254,0,2,147,0,1.4,2,1.0,reversable,Yes
9,10,53,1,asymptomatic,140,203,1,2,155,1,3.1,3,0.0,reversable,Yes

In [6]:
ds.shape

(303, 15)

In [7]:
ds.isnull().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

In [8]:
ds.dtypes

Unnamed: 0      int64
Age             int64
Sex             int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

In [9]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  303 non-null    int64
 1   Age         303 non-null    int64
 2   Sex         303 non-null    int64
 3   ChestPain   303 non-null    object
 4   RestBP      303 non-null    int64
 5   Chol        303 non-null    int64
 6   Fbs         303 non-null    int64
 7   RestECG     303 non-null    int64
 8   MaxHR       303 non-null    int64
 9   ExAng       303 non-null    int64
 10  Oldpeak     303 non-null    float64
 11  Slope       303 non-null    int64
 12  Ca          299 non-null    float64
 13  Thal        301 non-null    object
 14  AHD         303 non-null    object
dtypes: float64(2), int64(10), object(3)
memory usage: 35.6+ KB

In [10]:
ds.describe()

,Unnamed: 0,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,299.000000
mean,152.000000,54.438944,0.679868,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.672241
std,87.612784,9.038662,0.467299,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.937438
min,1.000000,29.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000
25%,76.500000,48.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000
50%,152.000000,56.000000,1.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000
75%,227.500000,61.000000,1.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000
max,303.000000,77.000000,1.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000

In [11]:
ds.iloc[0]

Unnamed: 0          1
Age                63
Sex                 1
ChestPain     typical
RestBP            145
Chol              233
Fbs                 1
RestECG             2
MaxHR             150
ExAng               0
Oldpeak           2.3
Slope               3
Ca                0.0
Thal            fixed
AHD                No
Name: 0, dtype: object

In [12]:
ds.iloc[2,4]

120

In [14]:
ds_sorted = ds.sort_values(by='Age', ascending=True)
print(ds_sorted)

     Unnamed: 0  Age  Sex     ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  \
132         133   29    1    nontypical     130   204    0        2    202
101         102   34    1       typical     118   182    0        2    174
225         226   34    0    nontypical     118   210    0        0    192
283         284   35    1    nontypical     122   192    0        0    174
117         118   35    0  asymptomatic     138   183    0        0    182
..          ...  ...  ...           ...     ...   ...  ...      ...    ...
42           43   71    0    nontypical     160   302    0        0    162
103         104   71    0    nonanginal     110   265    1        2    130
233         234   74    0    nontypical     120   269    0        2    121
257         258   76    0    nonanginal     140   197    0        1    116
161         162   77    1  asymptomatic     125   304    0        2    162

     ExAng  Oldpeak  Slope   Ca    Thal  AHD
132      0      0.0      1  0.0  normal   No
101      0      0.0      1  0.0  normal   No
225      0      0.7      1  0.0  normal   No
283      0      0.0      1  0.0  normal   No
117      0      1.4      1  0.0  normal   No
..     ...      ...    ...  ...     ...  ...
42       0      0.4      1  2.0  normal   No
103      0      0.0      1  1.0  normal   No
233      1      0.2      1  1.0  normal   No
257      0      1.1      2  0.0  normal   No
161      1      0.0      1  3.0  normal  Yes

[303 rows x 15 columns]

In [15]:
ds_sorted = ds.sort_values(by='RestBP', ascending=False)
print(ds_sorted)

     Unnamed: 0  Age  Sex     ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  \
222         223   39    0    nonanginal      94   199    0        0    179
131         132   51    1    nonanginal      94   227    0        0    154
122         123   51    1    nonanginal     100   222    0        0    143
246         247   58    1  asymptomatic     100   234    0        0    156
163         164   58    0  asymptomatic     100   248    0        2    122
..          ...  ...  ...           ...     ...   ...  ...      ...    ...
83           84   68    1    nonanginal     180   274    1        2    150
201         202   64    0  asymptomatic     180   325    0        0    154
231         232   55    0  asymptomatic     180   327    0        1    117
188         189   54    1    nontypical     192   283    0        2    195
126         127   56    0  asymptomatic     200   288    1        2    133

     ExAng  Oldpeak  Slope   Ca        Thal  AHD
222      0      0.0      1  0.0      normal   No
131      1      0.0      1  1.0  reversable   No
122      1      1.2      2  0.0      normal   No
246      0      0.1      1  1.0  reversable  Yes
163      0      1.0      2  0.0      normal   No
..     ...      ...    ...  ...         ...  ...
83       1      1.6      2  0.0  reversable  Yes
201      1      0.0      1  0.0      normal   No
231      1      3.4      2  0.0      normal  Yes
188      0      0.0      1  1.0  reversable  Yes
126      1      4.0      3  2.0  reversable  Yes

[303 rows x 15 columns]

In [16]:
uv = ds['Age'].unique()
print(uv)

[63 67 37 41 56 62 57 53 44 52 48 54 49 64 58 60 50 66 43 40 69 59 42 55
 61 65 71 51 46 45 39 68 47 34 35 29 70 77 38 74 76]

In [17]:
ds['Age'] = ds['Age'].astype('int32')
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  303 non-null    int64
 1   Age         303 non-null    int32
 2   Sex         303 non-null    int64
 3   ChestPain   303 non-null    object
 4   RestBP      303 non-null    int64
 5   Chol        303 non-null    int64
 6   Fbs         303 non-null    int64
 7   RestECG     303 non-null    int64
 8   MaxHR       303 non-null    int64
 9   ExAng       303 non-null    int64
 10  Oldpeak     303 non-null    float64
 11  Slope       303 non-null    int64
 12  Ca          299 non-null    float64
 13  Thal        301 non-null    object
 14  AHD         303 non-null    object
dtypes: float64(2), int32(1), int64(9), object(3)
memory usage: 34.5+ KB

In [18]:
(ds == 0).sum()

Unnamed: 0      0
Age             0
Sex            97
ChestPain       0
RestBP          0
Chol            0
Fbs           258
RestECG       151
MaxHR           0
ExAng         204
Oldpeak        99
Slope           0
Ca            176
Thal            0
AHD             0
dtype: int64